/* CSS declarations go here */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    background: #333;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

.project {
    cursor: pointer;
    padding: 5px;
}

.project .name {
    margin-bottom: 10px;
    color: blue;
    display: inline-block;
    font-size: 1.75em;
}

.project .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.project.selected {
    background-color: yellow;
}

.project.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
  vertical-align: middle;
}
.font_zi {font: bold 30px/100% "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans; margin: 10px 0; color: #fff; text-align:center;text-shadow:0 0 5px #fff, 0 0 1px #fff, 0 0 5px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de;}
